<h1>シチュエーションの中から好きな文章を選択してハングルを練習してみよう</h1>

<h2>あいさつ</h2>
<ul>
<li>안녕하세요.저는 김철수라고 합니다.　　　　(和訳：こんにちは。キムチョルスと申します。)</li>
<li>안녕하세요.저는 김철수라고 합니다.</li>
<li>안녕하세요.저는 김철수라고 합니다.</li>
</ul>

<h2>お店での会話</h2>
<ul>
<li>오늘 너무 추우니까 따뜻한 커피를 마실래?</li>
<li>오늘 너무 추우니까 따뜻한 커피를 마실래?</li>
<li>오늘 너무 추우니까 따뜻한 커피를 마실래?</li>
</ul>

<h2>会社での会話</h2>
<ul>
<li>내일 임원들에게 피칭을 해야돼 가지고 오늘 밤새해야겠어. 진짜 피곤하겠다.</li>
<li>내일 임원들에게 피칭을 해야돼 가지고 오늘 밤새해야겠어. 진짜 피곤하겠다.</li>
<li>내일 임원들에게 피칭을 해야돼 가지고 오늘 밤새해야겠어. 진짜 피곤하겠다.</li>
</ul>

