font-family:"Malgun Gothic","Yoon Gothic","sans-serif"
body
{
background-color:	#87CEFA;
text-align: center; 
}


h1
{
 color:red;  
 
}

li
{
text-align:left;
}
ul
{
list-style-type:decimal;
text-align:left;
line-height: 4em
}
